@model IEnumerable<BookingAppStore.Models.Book>

<div id="searchresults">
    <h3>Все книги автора : @Model.First().Author</h3>
    <ul>
        @foreach (var item in Model)
{
    <li>@item.Name  @Html.ActionLink("Buy", "Buy", new { id = item.Id })</li>
}
    </ul>
</div>
